<config>
    <version>1</version>
    <!-- Serial -->
    <serial_active>yes</serial_active>
    <serial_device>/dev/ttyUSB2</serial_device>
    <pin>1234</pin>
    <!-- Trigger -->
    <trigger>/usr/bin/php /var/www/vhosts/darkserver.fr/jeedom.darkserver.fr/plugins/sms/ressources/smscmd/../../core/php/jeeSMS.php number="$number$" message="$message$"</trigger>
    <trigger_timeout>10</trigger_timeout>
    <!-- Daemon -->
    <daemon_active>yes</daemon_active>
    <daemon_pidfile>/var/www/vhosts/darkserver.fr/jeedom.darkserver.fr/tmp/sms.pid</daemon_pidfile>
    <!-- Logging -->
    <loglevel>error</loglevel>
    <logfile>/var/www/vhosts/darkserver.fr/jeedom.darkserver.fr/core/class/../../log/sms.error</logfile>
    <!-- Socket server -->
    <socketserver>yes</socketserver>
    <sockethost>localhost</sockethost>
    <socketport>55002</socketport>
</config>
